.proBox {
  position: relative;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.705);
}

.close-icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 5px;
  border-bottom-left-radius:80% ;
  filter: drop-shadow(2px 2px 2px rgb(128, 128, 128));
}
.close-icon:hover{
  font-weight: 800;
  padding: 10px 10px;
  background-color:rgba(0, 0, 0, 0.144);
}
.cartNew {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 10px;
}
.cartHeading {
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.479);
}
.cartContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 10px 10px;
}
.stepper {
  width: 30%;
  padding: 10px 25px;

}
.cartItems {
  width: 70%;
  padding: 10px 25px;
}
.cartProducts{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.bilCouponBox{
  width: 100%;
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.coupon{
  width:48%;
  padding: 10px 10px;

}
.bill{
  width:48%;
  padding: 10px 10px;
}
.coupon-input {
  padding: 2px 10px;
  height: 30px;
  border: 1px solid #252929a4;
  border-right: none;
}
.coupon-button {
  font-size: 12px;
  font-weight: 700;
  padding: 0 10px;
  background-color: #21adb2a4;
  border: 1px solid #252929a4;
  border-left: none;
  height: 30px;
}